<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Treatment list</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{../../resources/css/bootstrap.min.css}">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>

<body class="bg-light">

<header th:insert="templates/header.html :: header"> </header>

<div class="container">
    <main>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Surname</th>
                <th scope="col">First Name</th>
                <th scope="col">Middle name</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody id="myTable">
            <tr>
                <td th:text="${patient.userDto.surname}">N/A</td>
                <td th:text="${patient.userDto.firstName}">N/A</td>
                <td th:text="${patient.userDto.middleName}">N/A</td>
                <td th:text="${patient.userDto.dbirth}">N/A</td>
                <td>N/A</td>
            </tr>
            </tbody>
        </table>

        <div class="py-5 text-center mb-0 pb-0">
            <h2>Add Treatment</h2>
            <p class="lead">Please enter information about the patient's diagnosis and start date of treatment</p>
        </div>

        <div class="col-md-12" style="width: 50%; margin-left: auto; margin-right: auto">
        <form th:action="@{'/treatment/add/'+${patient.id}}" th:object="${treatment}" method="post" >
            <div class="row g-3">

                <div class="col-sm-12">
                    <label for="firstName" class="form-label">Diagnosis</label>
                    <input type="text" th:field="*{diagnosis}" class="form-control" id="firstName" placeholder="" required>
                    <div class="invalid-feedback">
                        Valid Diagnosis is required.
                    </div>
                </div>


                <div class="col-sm-6">
                    <label for="startDate" class="form-label">Star Date</label>
                    <input type="date" th:field="*{startDate}" id="startDate" class="form-control" required/>
                </div>

                <div class="col-sm-6">
                    <label for="endDate" class="form-label">End Date</label>
                    <input type="date" th:field="*{endDate}" id="endDate" class="form-control" required/>
                </div>

                <button class="w-50 btn btn-primary btn-lg" type="submit" style="margin-left: auto; margin-right: auto">
                    Confirm
                </button>
            </div>
        </form>
        </div>


    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; T-Medical</p>
    </footer>
</div>

<script th:src="@{../../resources/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
