<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Treatment</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" th:href="@{../resources/css/bootstrap.min.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>

<body class="bg-light">

<header th:insert="templates/header.html :: header"> </header>

<div class="container">
  <main>
    <div class="py-5 text-center pb-0">
      <img class="d-block mx-auto mb-4" th:src="@{../resources/img/logo.svg}" alt="" width="72" height="57">
      <h2>Treatment</h2>
      <p class="lead">Information about treatment</p>
    </div>

    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Patient name</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Doctor</th>
        <th scope="col">Diagnosis</th>
        <th scope="col">Start of treatment</th>
        <th scope="col">End of treatment</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody id="myTable" style="vertical-align: middle">
      <tr>
        <td th:text="${treatment.patientName}">N/A</td>
        <td th:text="${treatment.patientDbirth}">N/A</td>
        <td th:text="${treatment.doctor}">N/A</td>
        <td th:text="${treatment.diagnosis}">N/A</td>
        <td th:text="${treatment.startDate}">N/A</td>
        <td th:text="${treatment.endDate}">N/A</td>
        <td th:text="${treatment.status}">N/A</td>
        <td>
          <button type="button" class="btn btn-light" data-toggle="modal" data-target="#myModal">
            Add Therapy
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="py-5 text-center pb-0">
      <h3>Therapy List</h3>
      <p class="lead">Information about therapies prescribed as part of treatment</p>
    </div>

    <!-- Block containing therapy cases - start -->
      <div class="card-columns">
        <div class="card pb-2" style="margin-top: 20px" th:each="therapy: ${therapies}">
          <!-- Содержание панели по умолчанию -->
          <div class="card-header bg-primary text-white" th:text="${therapy.medicationName} + ': ' + ${therapy.pattern} + ${therapy.dose}">N/A</div>
          <div class="card-body">
            <!-- Таблица -->
            <div class="row">
              <div class="col-sm-3 pb-3" th:each="case, stat : ${therapy.therapyCaseDtos}">
                <div class="card">
                  <div class="card-body">
                    <!--                <h5 class="card-title" th:text="${therapy.therapyCaseDtos[__${stat.index}__].day}"></h5>-->
                    <!--                <p class="card-text" th:text="${therapy.therapyCaseDtos[__${stat.index}__].day}"></p>-->
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item" th:text="'Status: ' + ${therapy.therapyCaseDtos[__${stat.index}__].status}"></li>
                      <li class="list-group-item" th:text="'Date: ' + ${therapy.therapyCaseDtos[__${stat.index}__].date}"></li>
                      <li class="list-group-item" th:text="'Date: ' + ${therapy.therapyCaseDtos[__${stat.index}__].time}"></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- Таблица конец-->
          </div>
        </div>
      </div>
    <!-- Block containing therapy cases - end -->

    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header text-center d-block ">
            <h5 class="modal-title">Add Therapy</h5>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form id="form1" th:action="@{'/treatment/'+${treatment.id}}" th:object="${therapyPost}" method="post" >
              <div class="row g-3">
                <div class="col-sm-12">
                  <label for="timePattern" class="form-label">Time Pattern</label>
                  <input type="text" th:field="*{pattern}" class="form-control" id="timePattern" placeholder="" required>
                  <div class="invalid-feedback">
                    Valid Time Pattern is required.
                  </div>
                </div>

                <div class="col-sm-6">
                  <label for="typetr" class="form-label">Type</label>
                  <select name="typetr" class="form-select" id="typetr" required>
                    <option th:each="genderOpt : ${T(com.tsystems.javaschool.model.entity.enums.TreatmentType).values()}"
                            th:value="${genderOpt}"
                            th:text="${genderOpt.displayValue}">
                    </option>
                  </select>

                  <div class="invalid-feedback">
                    Please select a Type.
                  </div>
                </div>

                <div class="col-sm-6">
                  <label for="medicine" class="form-label">Name</label>
                  <input type="text" th:field="*{medicationName}" class="form-control" id="medicine" placeholder="" required>
                  <div class="invalid-feedback">
                    Valid Medicine is required.
                  </div>
                </div>

                <div class="col-sm-12">
                  <label for="dose" class="form-label">Dose at a time</label>
                  <input type="text" th:field="*{dose}" class="form-control" id="dose" placeholder="Two pills per dose">
                  <div class="invalid-feedback">
                    Valid Medicine is required.
                  </div>
                </div>

                <div class="col-sm-6">
                  <label for="number" class="form-label">Number of times</label>
                  <input type="number" th:field="*{numberOfDays}" class="form-control" id="number" placeholder="" required>
                  <div class="invalid-feedback">
                    Valid Medicine is required.
                  </div>
                </div>

                <div class="col-sm-6">
                  <label for="startDate" class="form-label">Star Date</label>
                  <input type="date" th:field="*{startDate}" id="startDate" class="form-control" required/>
                </div>
              </div>

              <!-- Date and time selection form (start) -->
              <div th:each="therapyDay, stat : ${therapyPost.wrapper.days}">
                <div class="col-sm-3" style="vertical-align: middle">
                  <label th:for="${therapyDay.day}" th:text="${therapyDay.day.displayValue}"></label>
                </div>
                <div class="col-sm-6">
                  <input type="time" th:field="*{wrapper.days[__${stat.index}__].time}" th:id="${therapyDay.day}" class="form-control">
                  <input type="text" th:field="*{wrapper.days[__${stat.index}__].day}" class="invisible">
                </div>
                <div class="col-sm-3">
                  <button type="button" class="btn btn-light btn-block">
                    Clear
                  </button>
                </div>
              </div>
              <!-- Date and time selection form (end) -->
              <button class="w-25 btn btn-primary btn-lg" style="margin-left: auto; margin-right: auto" type="submit">
                Confirm
              </button>
            </form>
          </div>
          <!-- Modal body end -->
        </div>
      </div>
    </div>
    <!-- Modal Window end-->

  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; T-Medical</p>
  </footer>
</div>

<script th:src="@{../resources/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{../resources/js/bootstrap.min.js}"></script>
<script th:src="@{../resources/js/popper.min.js}"></script>

</body>
</html>
