<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html"
      lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Treatment</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" th:href="@{../resources/css/bootstrap.min.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>

<body class="bg-light">

<header th:insert="templates/header.html :: header"> </header>

<div class="container">
  <main>
    <div class="py-5 text-center pb-0">
      <img class="d-block mx-auto mb-4" th:src="@{../resources/img/logo.svg}" alt="" width="72" height="57">
      <h2>Treatment</h2>
      <p class="lead">Information about treatment</p>
    </div>

    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Patient name</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Doctor</th>
        <th scope="col">Diagnosis</th>
        <th scope="col">Start of treatment</th>
        <th scope="col">End of treatment</th>
        <th scope="col">Status</th>
        <th scope="col" th:if="${treatment.status == 'On treatment'}"></th>
      </tr>
      </thead>
      <tbody id="myTable" style="vertical-align: middle">
      <tr>
        <td th:text="${treatment.patientName}">N/A</td>
        <td th:text="${treatment.patientDbirth}">N/A</td>
        <td th:text="${treatment.doctor}">N/A</td>
        <td th:text="${treatment.diagnosis}">N/A</td>
        <td th:text="${treatment.startDate}">N/A</td>
        <td th:text="${treatment.endDate}">N/A</td>
        <td th:text="${treatment.status}">N/A</td>
        <td th:if="${treatment.status == 'On treatment'}">
          <form th:action="@{'/treatment/cancel/' + ${treatment.id}}" method="post">
            <button type="submit" class="btn btn-light">
              Discharge
            </button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="py-5 text-center pb-0">
      <h3>Therapy List</h3>
      <p class="lead">Information about therapies prescribed as part of treatment</p>
    </div>

    <!-- Block containing therapy cases - start -->
    <div class="card-columns">
      <div class="card pb-2" style="margin-top: 20px" th:each="therapy: ${therapies}">
        <!-- Содержание панели по умолчанию -->
        <div class="card-header bg-primary text-white">
          <div th:text="${therapy.medicationName} + ': ' + ${therapy.pattern} + ${therapy.dose}"></div>
          <div th:text="' Status: '+ ${therapy.status}"></div></div>
        <div class="card-body">
          <!-- therapy case start -->
          <div class="row">
            <div class="col-sm-3 pb-3" th:each="case, stat : ${therapy.therapyCaseDtos}">
              <div class="card">
                <div class="card-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="'Status: ' + ${therapy.therapyCaseDtos[__${stat.index}__].status}"></li>
                    <li class="list-group-item" th:text="'Date: ' + ${therapy.therapyCaseDtos[__${stat.index}__].date} + ' ' + ${therapy.therapyCaseDtos[__${stat.index}__].time}"></li>
                  </ul>
                  <div class="text-center pt-2" th:if="${therapy.status == 'Planned' or therapy.status == 'In progress'}">
                    <form th:action="@{'/therapy/update/status/' + ${case.id}}" method="post">
                      <button type="submit" class="btn btn-light" style="width: 90px;" th:disabled="${therapy.therapyCaseDtos[__${stat.index}__].status != 'Planned'}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square-fill" viewBox="0 0 16 16">
                          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
                        </svg>
                        Done
                      </button>
                    </form>
                  </div>

                </div>
              </div>
            </div>
            <!-- The Edit Modal -->
            <div class="modal" id="editModal">
              <div class="modal-dialog">
                <div class="modal-content">

                  <div class="modal-header text-center d-block ">
                    <h5 class="modal-title">Edit Therapy</h5>
                  </div>

                  <!-- Edit Modal body -->
                  <form id="form_edit" th:action="@{'/therapy/update/date/'+${therapy.id}}" th:object="${therapy}" method="post" >
                    <div class="modal-body pb-1">
                      <div class="row pb-2" th:each="case, stat : ${therapy.caseWrapper.cases}">
                        <div class="col-sm">
                          <label>
                            <input type="date" class="form-control" th:value="${therapy.therapyCaseDtos[__${stat.index}__].date}" th:disabled="${therapy.therapyCaseDtos[__${stat.index}__].status != 'Planned'}"/>
                            <!--                            <input type="date" class="form-control" th:field="${caseWrapper.cases[__${stat.index}__].date}"/>-->
                          </label>
                        </div>
                        <div class="col-sm">
                          <label>
                            <input type="time" class="form-control" th:value="${therapy.therapyCaseDtos[__${stat.index}__].time}" th:disabled="${therapy.therapyCaseDtos[__${stat.index}__].status != 'Planned'}"/>
                          </label>
                        </div>
                        <div class="col-sm" th:text="${therapy.therapyCaseDtos[__${stat.index}__].status}">
                        </div>
                      </div>

                    </div>

                    <div class="text-center pb-2">
                      <button type="submit" class="btn btn-primary w-25">
                        Confirm
                      </button>
                    </div>
                  </form>

                  <!-- Modal body end -->
                </div>
              </div>
            </div>
            <!-- Edit Modal Window end-->
          </div>
          <!-- therapy case start end-->
          <div class="text-center mt-3" th:if="${therapy.status == 'Planned' or therapy.status == 'In progress'}">
            <form th:action="@{'/therapy/cancel/' + ${therapy.id}}" method="post">
              <button type="button" class="btn btn-light w-25" data-toggle="modal" data-target="#editModal">
                Edit
              </button>
              <button type="submit" class="btn btn-light w-25">
                Cancel
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Block containing therapy cases - end -->

    <div class="text-center mt-3" th:if="${treatment.status == 'On treatment'}">
      <button type="button" class="btn btn-primary w-25" data-toggle="modal" data-target="#myModal">
        Add Therapy
      </button>
    </div>

    <!-- The Add therapy Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header text-center d-block ">
            <h5 class="modal-title">Add Therapy</h5>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form id="form1" th:action="@{'/treatment/'+${treatment.id}}" th:object="${therapyPost}" method="post" >
              <div class="row g-3 pb-3">
                <div class="col-sm-12">
                  <label for="timePattern" class="form-label">Time Pattern</label>
                  <input type="text" th:field="*{pattern}" class="form-control" id="timePattern" placeholder="" required>
                  <div class="invalid-feedback">
                    Valid Time Pattern is required.
                  </div>
                </div>

                <div class="col-sm-6">
                  <label for="typetr" class="form-label">Type</label>
                  <select name="typetr" class="form-select" id="typetr" required>
                    <option th:each="genderOpt : ${T(com.tsystems.javaschool.model.entity.enums.TreatmentType).values()}"
                            th:value="${genderOpt}"
                            th:text="${genderOpt.displayValue}">
                    </option>
                  </select>

                  <div class="invalid-feedback">
                    Please select a Type.
                  </div>
                </div>

                <div class="col-sm-6">
                  <label for="medicine" class="form-label">Name</label>
                  <input type="text" th:field="*{medicationName}" class="form-control" id="medicine" placeholder="" required>
                  <div class="invalid-feedback">
                    Valid Medicine is required.
                  </div>
                </div>

                <div class="col-sm-12">
                  <label for="dose" class="form-label">Dose at a time</label>
                  <input type="text" th:field="*{dose}" class="form-control" id="dose" placeholder="400 mg., 200 mg. etc.">
                  <div class="invalid-feedback">
                    Valid Medicine is required.
                  </div>
                </div>

                <div class="col-sm-6">
                  <label for="number" class="form-label">Number of times</label>
                  <input type="number" th:field="*{numberOfDays}" class="form-control" id="number" placeholder="" required>
                  <div class="invalid-feedback">
                    Valid Medicine is required.
                  </div>
                </div>

                <div class="col-sm-6">
                  <label for="startDate" class="form-label">Star Date</label>
                  <input type="date" th:field="*{startDate}" id="startDate" class="form-control" required/>
                </div>
              </div>

              <!-- Date and time selection form (start) -->
              <div class="row" th:each="therapyDay, stat : ${therapyPost.wrapper.days}">
                <div class="col-sm-3" style="vertical-align: middle">
                  <label th:for="${therapyDay.day}" th:text="${therapyDay.day.displayValue}"></label>
                </div>
                <div class="col-sm-9">
                  <input type="time" th:field="*{wrapper.days[__${stat.index}__].time}" th:id="${therapyDay.day}" class="form-control">
                  <input type="text" th:field="*{wrapper.days[__${stat.index}__].day}" class="invisible">
                </div>
              </div>
              <!-- Date and time selection form (end) -->
              <div class="text-center pb-3">
                <button class="w-25 btn btn-primary" style="margin-left: auto; margin-right: auto" type="submit">
                  Confirm
                </button>
              </div>
            </form>
          </div>
          <!-- Modal body end -->
        </div>
      </div>
    </div>
    <!-- Modal Window end-->


  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; T-Medical</p>
  </footer>
</div>

<script th:src="@{../resources/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{../resources/js/bootstrap.min.js}"></script>
<script th:src="@{../resources/js/popper.min.js}"></script>

</body>
</html>
