<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Therapy</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" th:href="@{../resources/css/bootstrap.min.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>

<body class="bg-light">

<header th:insert="templates/header.html :: header"> </header>

<div class="container">
  <main>

    <div class="py-5 text-center pb-0">
      <img class="d-block mx-auto mb-4" th:src="@{../resources/img/logo.svg}" alt="" width="72" height="57">
      <h2>Therapy</h2>
      <p class="lead">Information about therapies</p>
    </div>

    <!--    Day selection - start -->
    <div class="row g-5 pb-4"> <!-- Начало данных -->
      <div class="col-md-12" style="width: 50%; margin-left: auto; margin-right: auto">
        <form th:action="@{'therapy/'+${day}}" th:object="${day}" method="get">
          <div class="row g-3">
            <div class="col-sm-4">
              <p class="lead text-end">Please select a date: </p>
            </div>
            <div class="col-sm-4">
              <input type="date" id="startDate" class="form-control" th:value="${day}"/>
            </div>
            <div class="col-sm-4">
              <button class="w-75 btn btn-primary" type="submit">
                Confirm
              </button>
            </div>
        </form>
      </div>
    </div>
</div>
<!--    Day selection - end -->

<!-- Building information about therapy cases - start -->
<div class="row">
  <div class="col-sm-4" th:each="case : ${therapyCases}">
    <div class="card">
      <form th:action="@{'update/'+${case.id}}" method="post">
        <div class="card-header">
          <strong>Пациент: </strong> <div th:text="${case.patient}"></div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" th:text="'Status: '+${case.status}"></li>
          <li class="list-group-item" th:text="'Type: '+${case.medical}">A second item</li>
          <li class="list-group-item" th:text="'Time: '+${case.time}"></li>
          <li class="list-group-item" th:text="'Doctor: '+${case.doctor}"></li>
        </ul>
        <div class="card-footer">
          <button type="submit" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
              <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
            </svg>
          </button>
          <button type="button" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
              <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
            </svg>
          </button>
        </div>
      </form>
    </div>
  </div>

</div>
<!--  Building information about therapy cases - end -->

</main>

<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">&copy; T-Medical</p>
</footer>
</div>

<script th:src="@{../resources/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{../resources/js/bootstrap.min.js}"></script>
<script th:src="@{../resources/js/popper.min.js}"></script>

</body>
</html>
